.contact-bubble {
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.contact-bubble:hover {
  transform: scale(1.05);
}

#cr-text {
  padding-left: 80px;
  padding-top: 50px;
  min-width: 220px;
}

#footer-wrapper {
  height: 14vh;
  min-height: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

#footer-wrapper section {
  width: 40%;
  height: inherit;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 80px;
}

#footer-wrapper > section > div {
  display: flex;
  justify-content: flex-end;
}

#footer-wrapper > section > div > a {
  text-decoration: none;
}

#linkedin-bubble {
  position: relative;
  width: 48px;
  height: 48px;
}

#linkedin-bubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/linkedin.png");
  background-size: 48px 48px;
  background-position: 50% 50%;
  filter: grayscale(100%);
}

#git-bubble {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#git-bubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/git.png");
  background-size: 58px 58px;
  background-position: 44% 60%;
  filter: grayscale(100%) brightness(220%);
}

#angel-bubble {
  position: relative;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

#angel-bubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/angel.png");
  background-size: 48px 48px;
  background-position: 50% 50%;
  filter: grayscale(100%) brightness(110%);
}

@media all and (min-width: 100px) and (max-width: 590px) {
  #footer-wrapper section {
    width: 40%;
    height: inherit;
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
  }

  #cr-text {
    padding-left: 10px;
    padding-top: 50px;
    min-width: 150px;
    font-size: 11px;
  }

  #linkedin-bubble {
    position: relative;
    width: 30px;
    height: 30px;
  }

  #linkedin-bubble::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/linkedin.png");
    background-size: 30px 30px;
    background-position: 50% 50%;
    filter: grayscale(100%);
  }

  #git-bubble {
    position: relative;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  #git-bubble::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/git.png");
    background-size: 34px 34px;
    background-position: 44% 60%;
    filter: grayscale(100%) brightness(220%);
  }

  #angel-bubble {
    position: relative;
    border-radius: 4px;
    width: 30px;
    height: 30px;
  }

  #angel-bubble::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/angel.png");
    background-size: 30px 30px;
    background-position: 50% 50%;
    filter: grayscale(100%) brightness(110%);
  }
}
