#profile-photo {
  animation: bounceFromTop 1s ease 0s;
  width: 200px;
  height: 230px;
  border: 3px solid white;
  backdrop-filter: blur(30px);
  border-radius: 4px;
  margin-left: 8%;
  -webkit-box-shadow: -1px 5px 141px -42px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 5px 141px -42px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 5px 141px -42px rgba(0, 0, 0, 0.75);
}

.tp-arrow {
  width: 0;
  height: 0;
  border-bottom: 100px solid #334a52;
}

.right {
  border-left: 740px solid transparent;
}

.left {
  border-right: 740px solid transparent;
}

.tp-buffer-wrapper {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tp-buffer {
  height: 50px;
  width: 100%;
  background-color: #334a52;
}

.tp-content {
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 20px grey;
}

.tp-text {
  padding-left: 35px;
  width: 800px;
  color: white;
}

.tp-text > header {
  font-weight: bolder;
  font-size: 80px;
  animation: slideFarFromRight 1s ease-out -0.5s;
}

.tp-text > main {
  font-size: 40px;
  animation: slideFarFromRight 5s ease-out -3s;
}

.tp-text > p {
  font-size: 30px;
  animation: slideFarFromBottom 7s ease-out -4s;
}

#tp-wrapper {
  position: relative;
  width: inherit;
  height: 100vh;
  /* background-color: #add8e6; */
  background-color: transparent;
  display: flex;
  overflow: hidden;
}

.tpt {
  padding-bottom: 10px;
}

@media all and (min-width: 1100px) and (max-width: 1200px) {
  #profile-photo {
    width: 180px;
    height: 207px;
    margin-left: 5%;
  }

  .tp-text {
    width: 720px;
    padding-left: 30px;
  }

  .tp-text > header {
    font-size: 75px;
  }

  .tp-text > main {
    font-size: 35px;
  }

  .tp-text > p {
    font-size: 28px;
  }
}

@media all and (min-width: 1000px) and (max-width: 1100px) {
  #profile-photo {
    width: 160px;
    height: 184px;
    margin-left: 3%;
  }

  .tp-text {
    width: 620px;
    padding-left: 30px;
  }

  .tp-text > header {
    font-size: 65px;
  }

  .tp-text > main {
    font-size: 32px;
  }

  .tp-text > p {
    font-size: 23px;
  }

  .tpt {
    padding-bottom: 8px;
  }
}

@media all and (min-width: 750px) and (max-width: 1000px) {
  #profile-photo {
    width: 165px;
    height: 190px;
    margin-left: 2%;
  }

  .tp-text {
    width: 340px;
    padding-left: 30px;
  }

  .tp-text > header {
    font-size: 50px;
  }

  .tp-text > main {
    font-size: 25px;
  }

  .tp-text > p {
    font-size: 18px;
  }

  .tpt {
    padding-bottom: 5px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  #profile-photo {
    display: none;
  }

  .tp-text {
    width: 340px;
    padding-left: 10px;
  }

  .tp-text > header {
    font-size: 55px;
  }

  .tp-text > main {
    font-size: 27px;
  }

  .tp-text > p {
    font-size: 20px;
  }

  .tpt {
    padding-bottom: 5px;
  }
}

@media all and (min-width: 100px) and (max-width: 500px) {
  #profile-photo {
    display: none;
  }

  .tp-text {
    width: 300px;
    padding-left: 0;
    padding-right: 25px;
  }

  .tp-text > header {
    font-size: 45px;
  }

  .tp-text > main {
    font-size: 25px;
  }

  .tp-text > p {
    font-size: 18px;
  }

  .tpt {
    padding-bottom: 5px;
  }
}

@media all and (min-width: 100px) and (max-width: 420px) {
  .tp-text {
    width: 70%;
    padding-left: 0;
    padding-right: 40px;
  }

  .tp-text > header {
    font-size: 40px;
  }

  .tp-text > main {
    font-size: 25px;
  }

  .tp-text > p {
    font-size: 18px;
  }

  .tpt {
    padding-bottom: 3px;
  }
}

@keyframes slideFarFromRight {
  0% {
    transform: translateX(1000%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFarFromBottom {
  0% {
    transform: translateY(10000%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceFromTop {
  0% {
    transform: translateY(-400%);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(-200%);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: translateY(-7px);
  }
  64% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceArrow {
  0% {
    transform: scale(1, 1) translateY(0) rotate(45deg);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0) rotate(45deg);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-30px) rotate(45deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0) rotate(45deg);
  }
  57% {
    transform: scale(1, 1) translateY(-7px) rotate(45deg);
  }
  64% {
    transform: scale(1, 1) translateY(0) rotate(45deg);
  }
  100% {
    transform: scale(1, 1) translateY(0) rotate(45deg);
  }
}
