#case-studies-wrapper {
  width: inherit;
  height: 450px;
  display: flex;
  flex-direction: column;
}

#case-studies-wrapper > div {
  display: flex;
  justify-content: center;
}

#case-studies-wrapper > div > p {
  font-size: 28px;
  margin-top: 28px;
  margin-bottom: 14px;
}

#case-studies-wrapper section {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

#case-studies-wrapper ul {
  height: inherit;
  display: flex;
  list-style: none;
  overflow: auto;
}

@media all and (min-width: 750px) and (max-width: 900px) {
  #case-studies-wrapper {
    height: 390px;
  }

  #case-studies-wrapper > div > p {
    font-size: 25px;
    margin-top: 18px;
    margin-bottom: 5px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  #case-studies-wrapper {
    height: 330px;
  }

  #case-studies-wrapper > div > p {
    font-size: 22px;
    margin-top: 14px;
    margin-bottom: 5px;
  }
}

@media all and (min-width: 100px) and (max-width: 500px) {
  #case-studies-wrapper {
    height: 300px;
  }

  #case-studies-wrapper > div > p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
