#case-studies-wrapper {
  width: inherit;
  height: 550px;
  display: flex;
  flex-direction: column;
  background-color: #96afb8;
  color: white;
}

#case-studies-wrapper > div {
  display: flex;
  justify-content: center;
}

#cs-header {
  font-size: 28px;
  padding-top: 28px;
  margin-bottom: 14px;
  font-weight: bolder;
}

#case-studies-wrapper section {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

#case-studies-wrapper ul {
  height: inherit;
  display: flex;
  list-style: none;
  overflow: auto;
}

@media all and (min-width: 750px) and (max-width: 900px) {
  #case-studies-wrapper {
    height: 490px;
  }

  #case-studies-wrapper > div > p {
    font-size: 25px;
    margin-top: 18px;
    margin-bottom: 5px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  #case-studies-wrapper {
    height: 430px;
  }

  #case-studies-wrapper > div > p {
    font-size: 22px;
    margin-top: 14px;
    margin-bottom: 5px;
  }
}

@media all and (min-width: 100px) and (max-width: 500px) {
  #case-studies-wrapper {
    height: 400px;
  }

  #case-studies-wrapper > div > p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
