#root {
  font-family: sans-serif;
  overflow: hidden;
}

.hor-center {
  display: flex;
  justify-content: center;
}

.vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.vert-bottom {
  height: inherit;
  display: flex;
  flex-direction: column-reverse;
}

#scroll-arrow {
  left: 48%;
  top: 90%;
  width: 35px;
  height: 35px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid white;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 3px;
  background: 0;
  animation: bounceArrow 1.5s ease 0s infinite;
}

#scroll-arrow:focus {
  outline: 0;
}

.is-relative {
  position: relative;
}

.is-absolute {
  position: absolute;
}
