#root {
  font-family: sans-serif;
  overflow: hidden;
}

.vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.vert-bottom {
  height: inherit;
  display: flex;
  flex-direction: column-reverse;
}
