#tp-wrapper {
  position: relative;
  width: inherit;
  height: 100vh;
  background-color: #add8e6;
  display: flex;
  overflow: hidden;
}

#scroll-arrow {
  position: absolute;
  left: 48%;
  top: 90%;
  width: 35px;
  height: 35px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid white;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 3px;
  background: 0;
  animation: bounceArrow 1.5s ease 0s infinite;
}

#scroll-arrow:focus {
  outline: 0;
}

#tp-wrapper section {
  margin-left: 36%;
  width: 800px;
  min-width: 350px;
  color: white;
}

#tp-wrapper header {
  font-weight: bolder;
  font-size: 80px;
  animation: slideFarFromRight 1s ease-out -0.5s;
}

#tp-wrapper main {
  font-size: 40px;
  animation: slideFarFromRight 5s ease-out -3s;
}

#tp-wrapper p {
  font-size: 30px;
  animation: slideFarFromBottom 7s ease-out -4s;
}

#profile-photo {
  animation: bounceFromTop 1s ease 0s;
  width: 200px;
  height: 230px;
  border: 3px solid #67a7ce;
  background-color: #fcfcd4;
  position: absolute;
  left: 18%;
}

.tpt {
  padding-bottom: 10px;
}

#tp-arrow {
  height: 0;
  width: 0;
  border-left: 740px solid transparent;
  border-right: 740px solid transparent;
  /* need to add to queries */
  border-top: 100px solid #add8e6;
  background-color: transparent;
}

.tp-buffer-wrapper {
  height: 10vh;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

@media all and (min-width: 100px) and (max-width: 450px) {
  #top-panel-wrapper {
    width: 100%;
    height: 35vh;
    min-height: 250px;
    background-color: #add8e6;
  }

  #top-panel-wrapper section {
    margin-left: 8%;
    padding-top: 50px;
    width: 200px;
    min-width: 180px;
  }

  #top-panel-wrapper header {
    font-weight: bolder;
    font-size: 30px;
  }

  #top-panel-wrapper main {
    font-size: 20px;
  }

  #top-panel-wrapper p {
    font-size: 11px;
  }

  #profile-photo {
    display: none;
  }
}

/* animations */

@keyframes slideFarFromRight {
  0% {
    transform: translateX(1000%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFarFromBottom {
  0% {
    transform: translateY(10000%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceFromTop {
  0% {
    transform: translateY(-400%);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(-200%);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: translateY(-7px);
  }
  64% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceArrow {
  0% {
    transform: scale(1, 1) translateY(0) rotate(45deg);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0) rotate(45deg);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-30px) rotate(45deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0) rotate(45deg);
  }
  57% {
    transform: scale(1, 1) translateY(-7px) rotate(45deg);
  }
  64% {
    transform: scale(1, 1) translateY(0) rotate(45deg);
  }
  100% {
    transform: scale(1, 1) translateY(0) rotate(45deg);
  }
}
