#top-panel-wrapper {
  width: 100%;
  /* height: 55vh; */
  height: 100vh;
  min-height: 350px;
  background-color: #add8e6;
  display: flex;
  position: relative;
  overflow: hidden;
  /* -webkit-box-shadow: -1px 2px 5px 0px rgba(128, 128, 128, 1);
  -moz-box-shadow: -1px 2px 5px 0px rgba(128, 128, 128, 1);
  box-shadow: -1px 2px 5px 0px rgba(128, 128, 128, 1); */
}

.shape {
  /* experiment */
  width: 0;
  height: 50px;
  border-top: 100px solid #f9f871;
  border-right: 3000px solid transparent;
  animation: 1s ease-out 0s slideInFromTop;
  position: relative;
}

#top-panel-wrapper section {
  margin-left: 70%;
  /* padding-top: 120px; */
  width: 350px;
  min-width: 350px;
  color: white;
}

#top-panel-wrapper header {
  font-weight: bolder;
  font-size: 40px;
  animation: slideInFromTop 0.5s ease-out -0.1s;
}

#top-panel-wrapper main {
  font-size: 28px;
  animation: slideInFromLeft 0.8s ease-out -0.1s;
}

#top-panel-wrapper p {
  font-size: 20px;
  animation: slideInFromBottom 1s ease-out -0.1s;
}

#profile-photo {
  background-image: url("../assets/campbell.png");
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
}

#profile-photo-vert-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

#profile-photo-hor-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 400px;
}

.tpt {
  padding-bottom: 10px;
}

@media all and (min-width: 100px) and (max-width: 450px) {
  #top-panel-wrapper {
    width: 100%;
    height: 35vh;
    min-height: 250px;
    background-color: #add8e6;
  }

  #top-panel-wrapper section {
    margin-left: 8%;
    padding-top: 50px;
    width: 200px;
    min-width: 180px;
  }

  #top-panel-wrapper header {
    font-weight: bolder;
    font-size: 30px;
  }

  #top-panel-wrapper main {
    font-size: 20px;
  }

  #top-panel-wrapper p {
    font-size: 11px;
  }

  #profile-photo {
    display: none;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-1000%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(1000%);
  }
  100% {
    transform: translateY(0);
  }
}